<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="db_a88ad2_kysprimeEntities" connectionString="metadata=res://*/NttModel.Model1.csdl|res://*/NttModel.Model1.ssdl|res://*/NttModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL8002.site4now.net;initial catalog=db_a88ad2_kysprime;persist security info=True;user id=db_a88ad2_kysprime_admin;password=Aa15876444;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_a8ded2_emmenedurEntities" connectionString="metadata=res://*/NttModel.Model1.csdl|res://*/NttModel.Model1.ssdl|res://*/NttModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5105.site4now.net;initial catalog=db_a8ded2_emmenedur;user id=db_a8ded2_emmenedur_admin;password=Ee15876444;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>